/* page setup */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
    /* text-decoration: none !important; */
    /* list-style: none; */
}

/* Page content */
.page-wrapper {
    padding: 30px;
}


/* Breadcrumb section */
.breadcrumb-wrapper {
    padding: 12px 16px;
    background-color: #53746e;
    border-radius: 4px;
}

.breadcrumb {
    margin-bottom: 0 !important;
}

.breadcrumb-wrapper .active {
    color: #fff !important;
}

.breadcrumb-item,
.breadcrumb-item a {
    text-decoration: none;
    color: white;
    font-size: 0.875rem;
    font-weight: 700;
}

.breadcrumb-item a:hover {
    color: #D6B3AE;
    ;
}

.breadcrumb-item+.breadcrumb-item::before {
    float: left;
    padding-right: .5rem;
    color: white !important;
    content: ">" !important;
}



/* form design */

.admin-card {
    position: relative;
    padding: 12px;
    margin-top: 15px;
    border: none;
    box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03);
    border-radius: 10px;
}


.top-border {
    background: rgb(214, 179, 174);
    position: absolute;
    top: 0;
    left: 0;
    width: 312px;
    height: 35px;
    clip-path: polygon(0 0, 100% 0, 93% 44%, 0 44%);
}


.form-title {
    color: #53746e;
    font-weight: 700;
    font-size: 22px;
}

.label-title {
    margin-bottom: 8px;
    font-size: 0.75rem;
    color: #53746e;
}

.form-control:focus {
    border-color: #7367f0 !important;
    box-shadow: 0 3px 9px rgb(50 50 9 / 5%),
        3px 4px 8px rgb(115 103 240 / 10%) !important;
}

/* submit button */
.btn-submit {
    width: 60%;
    padding: 8px 12px !important;
    margin: 0 auto;
    background-color: #53746e !important;
    color: white;
    font-weight: 600;
}

/* Rich Text Editor status Bar Remove */
.jodit-status-bar {
    visibility: hidden;
    display: none;
}